/* Main Styling */
body {
  background: #3c6997;
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar */
nav {
  background: #3c6997;
}

i {
  margin-right: 5px;
}

/* Showcase */
#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 93vh;
}

#showcase-content {
  height: 90vh;
}
#showcase-content h1,
#showcase-content h3 {
  text-shadow: 1px 1px #000;
}

/* Contact/Footer */
footer {
  background: #094074;
  text-align: center;
  padding: 10px;
  margin: 0;
}

footer i {
  color: #fff;
}