/* Reset */
* {
  padding: 0;
  margin: 0;
}

/* Utility */

/* Main Styling */
body {
  height: 6000px;
  background: #3c6997;
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar */
nav {
  background: #3c6997;
}

i {
  margin-right: 5px;
}

/* Showcase */
#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}

.showcase-content {
  /* text-align: center; */
  margin: auto;
  padding: 400px 0;
  /* color: #fff; */
}

/* About */