body {
  background: #3c6997;
}

nav {
  background: #3c6997;
}

.fas {
  padding-right: 5px;
}

.jumbotron {
  height: 100vh;
  background: url('../img/showcase.jpg') no-repeat center center/cover;
}

.container h1 {
  color: #fff;
  text-shadow: 2px 2px black;
}

.card {
  margin: 0 auto;
}

#lang h1 {
  text-align: center;
  padding: 10px 0 40px 0;
  font-size: 6vw;
}

.col img,
.col-sm img {
  max-width: ;
}